/* quick reset */

* {
  margin: 0;
  padding: 0;
  border: none;
}

.hidden { display: none; }

body {
  background-color: #fff;
  color: black;

  font-family: Arial, Helvetica, sans-serif;
  font-size: 100%;
}

.type { margin-top: 12px; }

.type-wrapper {
  width: 1070px;
  border: thin solid black;
  margin: 0 auto;
  overflow: hidden;

  position: relative;
}

svg { width: 100%; }

.project-header { margin: 30px 0 10px; font-size: 2em; }

.project-header, .project-subhead { text-align: center; }

.controls { text-align: center; }
.controls button {
  padding: 20px;
  cursor: pointer;
  margin-top: 1.5em;
  border-radius: 1em;
}

#type_layout path { opacity: 0; }


.peach1 {
  position: absolute;
  top: 400px;
  left: 310px;

  opacity: 0;
}

#peach1 img {
  width: 65px;
}

.peach2 {
  position: absolute;
  top: 80px;
  left: 275px;

  opacity: 0;

  animation-delay: 2s;
}

#peach2 img {
  width: 120px;
}



.apple {
  position: absolute;
  top: 360px;
  left: 80px;

  opacity: 0;
}

#apple img {
  width: 100px;
}


.orange {
  position: absolute;
  top: 420px;
  left: 230px;

  opacity: 0;
}

#orange img {
  width: 190px;
}
